.App_disabled {
    text-align: center;
    overflow: hidden;

    background-color: #ffffff;
    color:rgb(141, 141, 141);

    font-family: museo-sans, sans-serif;
    font-size: calc(10px + 2vmin);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1;
    cursor: default;
}

.description {
    margin: 10px;
}

.button {
    position: absolute;
    bottom: 2rem;
    cursor: grab;
}